#cloud-config
hostname: {{ agent_name }}

users:
  - name: {{ user_name }}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
      - {{ ssh_key }}
    lock_passwd: false
    passwd: {{ password_hash }}

locale: fr_FR.UTF-8
keyboard:
  layout: fr
  variant: oss

network:
  version: 2
  ethernets:
    enp0s3:
      dhcp4: true
      optional: true

runcmd:
  - [ sudo, locale-gen, fr_FR.UTF-8 ]
  - [ sudo, localectl, set-keymap, fr ]
  - [ sudo, apt, update, -y ]
  - [ sudo, apt, --fix-broken, install, -y ]
  - [ sudo, apt, install, -y, fontconfig, openjdk-21-jre-headless, openjdk-21-jdk-headless, net-tools ]
  - [ sudo, systemctl, enable, ssh ]
  - [ sudo, systemctl, start, ssh ]
  - [ sudo, sh, -c, "echo 'ttyS0' >> /etc/securetty" ]
  - [ sudo, systemctl, enable, serial-getty@ttyS0.service ]
  - [ sudo, ip, link, set, enp0s3, up ]
